﻿@model AvivaFizzBuzzNeilAllen.Models.FizzBuzz

@{
    ViewBag.Title = "BasicFizzBuzz";
}

<h2>BasicFizzBuzz</h2>

@Html.DisplayFor(model => model.BasicValue)

<ul>
    @for (int i = 0; i <= Model.BasicValue; i++)
    {
        <li>i</li>
    }
</ul>

