﻿@model AvivaFizzBuzzNeilAllen.Models.FizzBuzz

<style>
    .fizz {
        color: blue;
    } 
    .buzz{
        color:green;
    }
</style>

@{
    ViewBag.Title = "Fizz Buzz List";
}

<h2>Fizz Buzz List</h2>

<ol>
    @foreach (string FBValue in Model.FizzBuzzList)
    {
         <li class="@IsFizzOrBuzz(FBValue)">@Html.Label(FBValue)</li>
    }
</ol>

@functions {
    public static string IsFizzOrBuzz(string FizzBuzzValue)
    {
        if (FizzBuzzValue == "fizz" || FizzBuzzValue == "buzz")
        {
            return FizzBuzzValue;
        }
        return null;
    }
}